/* CSS Reset va basic global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb; /* global background */
    color: #111827;            /* default text color */
    height: 100%;
    width: 100%;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    font-family: inherit;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  